# Databases

# Postgres
DATABASE=your database name
DB_USER=your database user
DB_PASS=your database password
DB_HOST=your database host
PORT=your database port


# MongoDB
MONGO_DATABASE=your mongo database
MONGODB_HOST=your mongo host
MONGODB_PORT=your mongo port


# AUTH
JWT_PASS=your database Pass


# URL's
APP_API_URL=your url


# MAIL CONFIG
MAIL_DRIVER=ethereal or ses


# Storage
STORAGE_DRIVER=disk
